:root{
    /* main background */
    --very-dark-blue: hsl(233, 47%, 7%);
    /* card background */
    --dark-desturated-blue: hsl(244, 38%, 16%);
    /* accent */
    --soft-violet: hsl(277, 64%, 61%);
    /* main heading, stats */
    --white: hsl(0, 0%, 100%);
    /* main paragraph */
    --white-para:  hsla(0, 0%, 100%, 0.75);
    /* stat headings */
    --white-heading:  hsla(0, 0%, 100%, 0.6);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-blue);
    flex-direction: column;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--dark-desturated-blue);
    max-width: 62.5rem;
    max-height: 26.25rem;
    border-radius: 7px;
    
}

.content-container {
    max-width: 23.438rem;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: var(--white);
    font-size: 1.875rem;
    margin: 0 0 20px 0;
}

.insights {
    content:'';
    color: var(--soft-violet);
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--white-para);
    margin: 0 0 60px 0;
    line-height: 1.6;
}

.stats-section {
    width: 31.25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.image-container {
    position: relative;
}

.overlay {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--soft-violet);
    mix-blend-mode: normal;
    opacity: 0.5;
    z-index: 10;
}

.overlay2 {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--soft-violet);
    mix-blend-mode: color-burn;
    opacity: 0.5;
    z-index: 10;
}

.overlay3 {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--soft-violet);
    mix-blend-mode: hue;
    opacity: 0.5;
    z-index: 10;
}

.overlay4 {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--soft-violet);
    mix-blend-mode: saturation;
    opacity: 0.5;
    z-index: 10;
}

.overlay5 {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--dark-desturated-blue);
    mix-blend-mode: saturation;
    opacity: 0.5;
    z-index: 10;
}

img {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block; /* removes extra space below image */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.stats-name {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white-heading);
    margin: 0;
}
.stats-number {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--white);
    margin: 0;
}

footer, a {
    margin-top:100px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white-heading);
    text-decoration: none;
}

@media (min-width: 375px) and (max-width: 1040px) {
    main {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        grid-template-columns: none;
        height: 800px;
        max-height: none;
        max-width: 350px;
        margin-top: 75px;
        contain: content;
        border-radius: 7px;
    }

    img {
        height: 250px;
        border-bottom-right-radius: 0;
    }

    .overlay, .overlay2 {
        top: 0;
        width: 350px;
        height: 250px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    h1 {
        margin: 30px 0;
    }

    p {
        margin: 0 0 40px 0;
        width: 270px;
        align-self: center;
    }

    .stats-section {
        max-width: 300px;
    }

    .stats-name {
        margin: 0 0 25px 0;
    }

    .content-container {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .grid-container {
        display: grid;
        grid-template-columns: none;
        flex-direction: column;
        justify-content: center;
    }
}